<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'COMMON_APPLICATIONS' | translate}} &raquo; {{ app.displayName }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/app/{{ app.name }}/overview">{{'COMMON_OVERVIEW' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/instances">{{'COMMON_INSTANCES' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/commands">{{'COMMON_COMMANDS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/targets">{{'COMMON_TARGET_ASSOCIATIONS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/jobs">{{'COMMON_SCHEDULED_JOBS' | translate}}</a></li>
		<li class="active"><a href="#/app/{{ app.name }}/application-bindings">{{'COMMON_APPLICATIONS_BINDINGS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/delete">{{'COMMON_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>
	
	<!-- No application? -->
	<div ng-show="responseStatus === 404" translate="COMMON_NO_FOUND_APPLICATION" translate-values="{ name: app.name }"></div>
	
	<div ng-show="! hasBindings()">
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_NO_IMPORT' | translate}}<br />
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_NO_IMPORT_2' | translate}}
	</div>
	
	<div ng-show="hasBindings()">
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_PREFIXES' | translate}}<br />
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_PREFIXES_2' | translate}}<br /><br />

		<!-- List all the bindings -->
		<table class="table table-hover table-rbcf">
			<tr>
				<th>{{ 'APPLICATIONS_BINDINGS_TH_PREFIX' | translate }}</th>
				<th>{{ 'APPLICATIONS_BINDINGS_TH_APP' | translate }}</th>
				<th>&nbsp;</th>
			</tr>
			<tr ng-repeat="(externalImportPrefix,arrayOfApps) in bindings">
				<td>
					{{ externalImportPrefix }}
				</td>
				<td>
					<span ng-show="editedBinding !== arrayOfApps">{{ formatBoundApplications(arrayOfApps) }}</span>
					
					<div ng-show="editedBinding === arrayOfApps">
						<div class="checkbox bindings-box" ng-repeat="appBinding in editedBinding">
							<label>
								<input type="checkbox" ng-model="appBinding.wbound">
								<span class="checkbox-text">{{ appBinding.name }}</span>
							</label>
						</div>
					</div>
				</td>
				<td>
					<a href="#" ng-click="editBinding(arrayOfApps, $event, externalImportPrefix)" ng-show="! editedBinding">
						{{'APPLICATIONS_BINDINGS_EDIT_THIS_BINDING' | translate}}
					</a>
				</td>
			</tr>
		</table>
		
		<div ng-show="!! editedBinding" class="pull-right">
			<button class="btn btn-default" type="submit" ng-click="saveBindings()">{{'COMMON_SAVE' | translate}}</button>
			<button class="btn btn-default" type="submit" ng-click="cancelEditing()">{{'COMMON_CANCEL' | translate}}</button>
		</div>
		<div class="clearfix"></div>
	</div>

	<!-- Display notifications -->
	<div class="status-panel status-panel-bottom">
		<p ng-repeat="s in status" ng-class="s.ok ? 'bg-success' : 'bg-danger'">
			{{ s.msg }}
					
			<button type="button" class="close" aria-label="{{'COMMON_CLOSE' | translate}}" ng-click="removeStatus( status, s )">
				<span aria-hidden="true" >&times;</span>
			</button>
		</p>
	</div>

</div>
