<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'APPLICATIONS' | translate}} &raquo; {{ appName }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/app/{{ appName }}/overview">{{'APPLICATIONS_OVERVIEW' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/instances">{{'APPLICATIONS_INSTANCES' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/commands">{{'APPLICATIONS_COMMANDS' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/targets">{{'APPLICATIONS_TARGET' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/jobs">{{'APPLICATIONS_SCHEDULED_JOBS' | translate}}</a></li>
		<li class="active"><a href="#/app/{{ appName }}/application-bindings">{{'APPLICATIONS_BINDINGS' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/delete">{{'APPLICATIONS_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">
	
	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>
	
	<!-- No application? -->
	<div ng-show="responseStatus === 404" translate="{{'APPLICATIONS_NO_FOUND_APPLICATION' | translate: appBindingData}}"></div>
	
	<div ng-show="hasBindings()">
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_NO_IMPORT' | translate}}<br />
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_NO_IMPORT_2' | translate}}
	</div>
	
	<div ng-show="hasBindings()">
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_PREFIXES' | translate}}<br />
		{{'APPLICATIONS_BINDINGS_HAS_BINDINGS_PREFIXES_2' | translate}}<br /><br />
	
		<form class="form-horizontal">
			<div class="form-group" ng-repeat="(key,value) in mapping">
				<label class="col-sm-2 rbcf-padfix">{{ key }}</label>
				<div class="col-sm-10">
					<select class="form-control"
							required
							ng-model="value.curr"
							ng-options="a for a in value.apps">
					</select>
				</div>
			</div>
			
			<button 
					class="btn btn-default pull-right" type="submit" 
					ng-disabled="disableSaveButton()"
					ng-model="mapping"
					ng-click="saveBindings()">{{'APPLICATIONS_BINDINGS_SAVE' | translate}}</button>

			<div class="status-panel status-panel-bottom">
				<p ng-repeat="s in status" ng-class="s.ok ? 'bg-success' : 'bg-danger'">
					{{ s.msg }}
					
					<button type="button" class="close" aria-label="Close" ng-click="removeStatus( status, s )">
						<span aria-hidden="true" >&times;</span>
					</button>
				</p>
			</div>
		</form>
	</div>
</div>
