
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>{{'PREFERENCES_PREFERENCES' | translate}}</h1>
	
	<p>
		{{'PREFERENCES_MANAGE_SETTINGS_PREFERENCES' | translate}}<br />
	</p>
	
	<div class="menu">
		<ul>
			<li class="active"><a href="#/preferences/language">{{'PREFERENCES_LANGUAGES' | translate}}</a></li>
		</ul>
	</div>
	
	<div class="content short-content">
		{{'PREFERENCES_PLEASE_SELECT_LANGUAGE' | translate}}

		<select class="form-control" 
				ng-model="key"
				ng-options="formatLang( key ) for key in langKeys"
				ng-click="setLang(key)">

		</select>
		
	</div>

</div>
