
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'TARGETS_NEW_DEPLOYMENT_TARGET' | translate}}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/targets">{{'TARGETS_DEPLOYMENT_TARGETS' | translate}}</a></li>
		<li class="active"><a href="#/targets/new">{{'TARGETS_NEW_DEPLOYMENT_TARGET' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">
	
	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0"></rbcf-error-message>
	
	<!-- Template Selection -->
	<div ng-show="responseStatus === 0 && ! showEditor">
		{{'TARGETS_TARGETS_NEW_MESSAGE' | translate}}<br />
		{{'TARGETS_TARGETS_NEW_MESSAGE_2' | translate}}
		
		<br /><br />
		<select class="form-control" ng-model="tpl">
			<option>{{'TARGETS_BLANK' | translate}}</option>
			<option>{{'TARGETS_AMAZON_WEB_SERVICES' | translate}}</option>
			<option>{{'TARGETS_APACHE_JCLOUDS' | translate}}</option>
			<option>{{'TARGETS_DOCKER' | translate}}</option>
			<option>{{'TARGETS_EMBEDDED' | translate}}</option>
			<option>{{'TARGETS_IN_MEMORY' | translate}}</option>
			<option>{{'TARGETS_MICROSOFT_AZURE' | translate}}</option>
			<option>{{'TARGETS_OPENSTACK' | translate}}</option>
			<option>{{'TARGETS_VMWARE' | translate}}</option>
		</select>
		
		<br />
		<div>
			<button class="btn btn-default pull-right" type="submit" ng-click="selectTpl()">{{'TARGETS_VALIDATE' | translate}}</button>
		</div>
	</div>

	<!-- Editor -->
	<div ng-show="showEditor">
		<div class="target-data">
			<textarea rows="20" cols="8" id="target-properties"></textarea>
		</div>

		<br />
		<div>
			<button class="btn btn-default pull-right" type="submit" ng-click="save()">{{'TARGETS_SAVE' | translate}}</button>
		</div>
	</div>
</div>
