
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'TARGETS_DEPLOYMENT_TARGETS' | translate}} &raquo; {{ targetAlias }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/targets">{{'TARGETS_DEPLOYMENT_TARGETS' | translate}}</a></li>
		<li class="active"><a href="#/target/{{ targetId }}/properties">{{'TARGETS_PROPERTIES' | translate}}</a></li>
		<li><a href="#/target/{{ targetId }}/usage">{{'TARGETS_USAGE' | translate}}</a></li>
		<li><a href="#/target/{{ targetId }}/delete">{{'TARGETS_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">
	
	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>

	<!-- Target Details -->
	<div ng-show="responseStatus  === 0">
		<div class="target-data">
			<textarea rows="20" cols="8" id="target-properties" ng-model="targetProperties"></textarea>
		</div>

		<br />
		<div>
			<button class="btn btn-default pull-right" type="submit" ng-show="editable" ng-click="save()">{{'TARGETS_SAVE' | translate}}</button>
			<button class="btn btn-default pull-right right-margin" type="submit" ng-show="editable" ng-click="setEditable(false)">{{'TARGETS_CANCEL' | translate}}</button>
			<button class="btn btn-default pull-right" type="submit" ng-hide="editable" ng-click="setEditable(true)">{{'TARGETS_EDIT_PROPERTIES' | translate}}</button>
		</div>		
	</div>

	<div ng-show="responseStatus === 404" translate="{{'TARGETS_NO_FOUND_TARGET_ID' | translate}}"></div>
</div>
