
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'TARGETS_NEW_DEPLOYMENT_TARGET' | translate}}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/targets">{{'TARGETS_DEPLOYMENT_TARGETS' | translate}}</a></li>
		<li class="active"><a href="#/targets/new">{{'TARGETS_NEW_DEPLOYMENT_TARGET' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">
	
	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0"></rbcf-error-message>
	
	<!-- Introduction -->
	<div ng-show="responseStatus === 0 && mode !== 'editor'">
		<label>
			{{ 'COMMON_UPLOAD' | translate }}
			<a href="" ng-click="setMode( 'upload' )">{{ 'TARGETS_NEW_ZIP_ARCHIVE' | translate }}</a>
			{{ 'COMMON_OR' | translate }}
			<a href="" ng-click="setMode( 'list' )">{{ 'TARGETS_NEW_SELECT_TEMPLATE' | translate }}</a>
			{{ 'TARGETS_NEW_FOR_YOUR_TP' | translate }}
		</label>
	</div>
	
	<!-- Template Selection -->
	<div ng-show="responseStatus === 0 && mode === 'list'">
		<select class="form-control" ng-model="tpl">
			<option>{{'TARGETS_BLANK' | translate}}</option>
			<option>{{'TARGETS_AMAZON_WEB_SERVICES' | translate}}</option>
			<option>{{'TARGETS_APACHE_JCLOUDS' | translate}}</option>
			<option>{{'TARGETS_DOCKER' | translate}}</option>
			<option>{{'TARGETS_EMBEDDED' | translate}}</option>
			<option>{{'TARGETS_IN_MEMORY' | translate}}</option>
			<option>{{'TARGETS_MICROSOFT_AZURE' | translate}}</option>
			<option>{{'TARGETS_OPENSTACK' | translate}}</option>
			<option>{{'TARGETS_VMWARE' | translate}}</option>
		</select>
		
		<br />
		<div>
			<button class="btn btn-default pull-right" type="submit" ng-click="selectTpl()">{{'COMMON_VALIDATE' | translate}}</button>
		</div>
	</div>
	
	<!-- Upload -->
	<div ng-show="responseStatus === 0 && mode === 'upload'">
		<rbcf-zip-upload ng-show="responseStatus === 0 && ! showEditor" data-restpath="/targets/archive"></rbcf-zip-upload>
		<p id="upload-result-details">
			{{ 'COMMON_YOU_CAN' | translate }} <a href="/#/targets">{{ 'TARGETS_NEW_ACCESS_LIST' | translate }}</a>
		</p>
	</div>

	<!-- Editor -->
	<div ng-show="responseStatus === 0 && mode === 'editor'">
		<div class="target-data">
			<textarea rows="20" cols="8" id="target-properties"></textarea>
		</div>

		<br />
		<div class="pull-right">
			<button class="btn btn-default" type="submit" ng-click="save()">{{'COMMON_SAVE' | translate}}</button>
			<button class="btn btn-default" type="submit" ng-click="setMode( 'list' )">{{'COMMON_CANCEL' | translate}}</button>
		</div>
	</div>
</div>
