
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		Applications &raquo; {{ appName }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/app/{{ appName }}/overview">{{'APPLICATIONS_OVERVIEW' | translate}}</a></li>
		<li class="active"><a href="#/app/{{ appName }}/instances">{{'APPLICATIONS_INSTANCES' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/commands">{{'APPLICATIONS_COMMANDS' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/targets">{{'APPLICATIONS_TARGET' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/jobs">{{'APPLICATIONS_SCHEDULED_JOBS' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/application-bindings">{{'APPLICATIONS_BINDINGS' | translate}}</a></li>
		<li><a href="#/app/{{ appName }}/delete">{{'APPLICATIONS_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">
	
	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>
	
	<!-- No application? -->
	<div ng-show="responseStatus === 404">No application called <strong>{{ appName }}</strong> was found.</div>
	
	<!-- No instance? -->
	<div class="block" ng-show="responseStatus === 0 && rootNodes.length == 0">
		<p class="block-title">No Instance</p>

		<div class="block-content">
			<p>
				No instance has been created so far.
			</p>
		</div>
	</div>
	
	<!-- A dynamic template to build a tree with AngularJS -->
	<script type="text/ng-template" id="my-tmpl">
    <p ng-click="showInstance( childNode, 1000 )" ng-class="selectedInstance === childNode.instance ? 'r-red' : ''">
		<strong>{{ childNode.instance.name }}</strong> is {{ formatStatus( childNode.instance.status )}}.
	</p>
    <ul>
        <li class="listing" ng-repeat="childNode in childNode.children" ng-include="'my-tmpl'"></li>
    </ul>
	</script>
	
	<!-- Display the hierarchy of instances -->
	<div id="left-block">
		<div ng-repeat="rootNode in rootNodes | rbcfInstancesFilter:searchFilter | orderBy:orderingCriteria"
				ng-class="isNodeToHide( rootNode.instance.path ) ? 'block block-faded instances' : 'block instances'">

			<p class="block-title" ng-click="showInstance( rootNode, 1000 )">
				{{ rootNode.instance.name }}
				<span class="block-annotation">{{ formatStatus( rootNode.instance.status )}}</span>
			</p>
			<div class="block-content" ng-show="rootNode.children.length === 0">
				This root instance has no child.
			</div>

			<ul>
				<li class="listing" ng-repeat="childNode in rootNode.children" ng-include="'my-tmpl'"></li>
			</ul>
		</div>
	</div>
	
	<!-- Display the details of an instance -->
	<div id="right-block">
		<div class="block-controls">
			<button type="button" class="close" aria-label="Close" ng-click="hideInstance()"><span aria-hidden="true">&times;</span></button>
		</div>
		<div>
			<h3>{{ selectedInstance.name }}</h3>
			
			<strong>Instance Path:</strong> {{ selectedInstance.path }}<br />
			<strong>Instance Status:</strong> {{ formatStatus( selectedInstance.status )}}<br />
			<strong>Component:</strong> {{ selectedInstance.component.name }}
			
			<div class="instance-actions" ng-include="'templates/instances/includes/life-cycle.html'" ng-show="details === 'LIFECYCLE'"></div>
			<div class="instance-actions" ng-include="'templates/instances/includes/exported-variables.html'" ng-show="details === 'EXPORTS'"></div>
		</div>
	</div>
	
	<div class="clearfix"></div>
</div>
