
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'INSTANCES_NEW_INSTANCES' | translate}} {{ app.displayName }}
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/app/{{ app.name }}/overview">{{'COMMON_OVERVIEW' | translate}}</a></li>
		<li class="active"><a href="#/app/{{ app.name }}/instances">{{'COMMON_INSTANCES' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/commands">{{'COMMON_COMMANDS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/targets">{{'COMMON_TARGET_ASSOCIATIONS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/application-bindings">{{'COMMON_APPLICATIONS_BINDINGS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/delete">{{'COMMON_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Information Message -->
	<span translate="INSTANCES_NEW_INFORMATION_MESSAGE" translate-values="{ name: app.name }"></span>
	<br /><br />
	
	<!-- Error message -->
	<rbcf-error-message ng-show="error"></rbcf-error-message>
	
	<!-- Dynamic templates to build a tree with AngularJS -->
	<script type="text/ng-template" id="display-tmpl">
	<p class="editor-actions pull-right" ng-show="node.writable && ! editedInstance && ! node.progress">
		<span class="glyphicon glyphicon-pencil" ng-click="editInstance( node )"></span>
		&nbsp;
		<span class="glyphicon glyphicon-plus" ng-click="createInstance( node )"></span>
		&nbsp;
		<span class="glyphicon glyphicon-remove" ng-click="askToDeleteInstance( node )"></span>
	</p>
	<p class="editor-actions pull-right" ng-show="! node.progress && ! node.writable && ! editedInstance" title="{{'INSTANCES_NEW_TITLE_EXISTS' | translate}}">
		{{'COMMON_READ_ONLY' | translate}} &nbsp;
		<span class="glyphicon glyphicon-plus" ng-click="createInstance( node )"></span>
	</p>
	<p class="editor-actions pull-right text-success" ng-show="node.progress === 'ok'" title="{{'INSTANCES_NEW_TITLE_OK' | translate}}">
		<span class="glyphicon glyphicon-ok"></span>
	</p>
	<p class="editor-actions pull-right text-danger" ng-show="node.progress === 'ko'" title="{{'INSTANCES_NEW_TITLE_KO' | translate}}">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
	</p>
    <p class="clearfix">
		<strong>{{ node.name }}</strong> {{'COMMON_IS' | translate}} {{ findArticle( node ) | translate }} <strong>{{ node.component.name }}</strong>.
	</p>
    <ul>
        <li ng-repeat="node in node.children" ng-include="'display-tmpl'" ng-class="editedInstance === node ? 'selected' : ''"></li>
    </ul>
	</script>
	
	<!-- The block that lists instances -->
	<div class="block instances" id="single-block">
		<p class="block-title">{{'INSTANCES_CREATE_INSTANCE' | translate}}</p>
		<div class="block-content" style="margin-bottom: -6px;" ng-show="! rootNode">
			<p class="pull-left">
				{{'INSTANCES_NO_INSTANCE_CREATED' | translate}}<br />
				{{'INSTANCES_OR_YOU_CAN' | translate}} <a href="" ng-click="askToSelectInstance()">{{'INSTANCES_SELECT_AN_EXISTING_INSTANCE' | translate}}</a>
				{{'INSTANCES_TO_COMPLETE' | translate}}
			</p>
			
			<p class="editor-actions pull-right">
				<span class="glyphicon glyphicon-plus" ng-click="createInstance()"></span>
			</p>
			<p class="clearfix" style="margin: 0; padding: 0;"></p>
		</div>
		<ul>
			<li ng-repeat="node in (rootNode ? [rootNode] : [])" ng-include="'display-tmpl'" ng-class="editedInstance === node ? 'selected' : ''"></li>
		</ul>
	</div>
	
	<!-- Edit properties of an instance -->
	<form novalidate name="newInstanceForm" ng-show="editedInstance && ['edit','new'].indexOf(mode) >= 0">
		<div class="form-group" ng-class="{'has-error': newInstanceForm.component.$invalid && newInstanceForm.component.$dirty}">
			<label for="component" class="control-label">{{'INSTANCES_COMPONENT_NAME' | translate}}</label>
			<span class="r-help" ng-show="newAppForm.component.$error.required">{{'COMMON_REQUIRED' | translate}}</span>
			<select
					class="form-control" name="component" ng-model="editedInstance.component"
					ng-options="comp.name for comp in possibleComponents track by comp.name" required>
			</select>
		</div>
		
		<div class="form-group" ng-class="{'has-error': newInstanceForm.name.$invalid && newInstanceForm.name.$dirty}">
			<label for="name" class="control-label">{{'INSTANCES_INSTANCE_NAME' | translate}}</label>
			<span class="r-help" ng-show="newInstanceForm.name.$error.required">{{'COMMON_REQUIRED' | translate}}</span><br />
			<input
					type="text" class="form-control" name="name" placeholder="an instance name"
					ng-model="editedInstance.name" ng-model-options="{allowInvalid: true}" required instance />
		</div>

		<p class="text-danger" ng-show="newInstanceForm.name.$error.instance">{{'INSTANCES_INSTANCE_NAME_UNIQUE' | translate}}</p>
		<button type="button" class="btn btn-default pull-right" ng-disabled="! newInstanceForm.$valid" ng-click="ok()">{{'COMMON_OK' | translate}}</button>
		<button type="button" class="btn btn-default pull-right" ng-click="cancel()">{{'COMMON_CANCEL' | translate}}</button>
	</form>
	
	<!-- Confirm the deletion of an instance -->
	<div ng-show="editedInstance && mode === 'delete'">
		<span translate="INSTANCES_NEW_ACTION_DELETE" translate-values="{ name: app.name }"></span> &nbsp;
		<button type="button" class="btn btn-default" ng-click="deleteInstance( true )">{{'COMMON_CONFIRM' | translate}}</button>
		<button type="button" class="btn btn-default" ng-click="deleteInstance( false )">{{'COMMON_CANCEL' | translate}}</button>
	</div>
	
	<!-- Show existing instances -->
	<div ng-show="mode === 'select-instance'">
		{{'INSTANCES_SELECT_AN_EXISTING_INSTANCE_BELOW' | translate}}<br />
		
		<div class="form-group">
			<select
					class="form-control"
					ng-model="selectedInstance"
					ng-options="inst.path for inst in (existingInstances | rbcfRootInstancesFilter) track by inst.path" required>
			</select>
		</div>
		<button type="button" class="btn btn-default pull-right" ng-click="selectInstance( true )">{{'COMMON_VALIDATE' | translate}}</button>
		<button type="button" class="btn btn-default pull-right" ng-click="selectInstance( false )">{{'COMMON_CANCEL' | translate}}</button>
	</div>
	
	<!-- Confirm or cancel creation -->
	<div ng-show="showGlobalButtons()">
		<button type="button" class="btn btn-default pull-right" ng-click="askToReset()">{{'INSTANCES_NEW_CANCEL_CREATION' | translate}}</button>
		<button type="button" class="btn btn-default pull-right" ng-click="createThemAll()">{{'INSTANCES_NEW_CREATE_THEM_ALL' | translate}}</button>
	</div>
	
	<!-- Reset the form once we selected existing instances -->
	<div ng-show="rootNode && ! editedInstance && mode !== 'reset'">
		<button type="button" class="btn btn-default pull-right" ng-click="hardReset()">{{'INSTANCES_NEW_RESET_FORM' | translate}}</button>
	</div>
	
	<!-- Confirm the form should be reset -->
	<div ng-show="mode === 'reset'">
		{{'INSTANCES_NEW_RESET_FORM_MESSAGE' | translate}} &nbsp;
		
		<button type="button" class="btn btn-default" ng-click="reset( true )">{{'COMMON_CONFIRM' | translate}}</button>
		<button type="button" class="btn btn-default" ng-click="reset( false )">{{'COMMON_CANCEL' | translate}}</button>
	</div>
	
	<!-- Once it was posted (with or without success) -->
	<div ng-show="mode === 'posted'">
		<button type="button" class="btn btn-default pull-right" ng-click="reset( true )">{{'INSTANCES_NEW_FINISH' | translate}}</button>
	</div>
	
</div>
