
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'SCHEDULING_SCHEDULER' | translate}}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/scheduler">{{'COMMON_SCHEDULED_JOBS' | translate}}</a></li>
		<li class="active"><a href="#/scheduler/new">{{'SCHEDULING_NEW_SCHEDULED_JOB' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>

	<!-- Job properties -->
	<form novalidate name="newJobForm">

		<!-- Job name -->
		<div class="form-group" ng-class="{'has-error': newJobForm.jobname.$invalid && newJobForm.jobname.$dirty}">
			<label for="name" class="control-label">{{'SCHEDULING_JOB_NAME' | translate}}</label>
			<span class="r-help" ng-show="newJobForm.name.$error.required">(required)</span><br />
			<input type="text" class="form-control" name="name" placeholder="a name" ng-model="job.name" required>
		</div>

		<!-- App name -->
		<div class="form-group" ng-class="{'has-error': newJobForm.appname.$invalid && newJobForm.appname.$dirty}">
			<label for="appname" class="control-label">{{'COMMON_APPLICATION_NAME' | translate}}</label>
			<span class="r-help" ng-show="newJobForm.appname.$error.required">({{'SCHEDULING_REQUIRED' | translate}})</span><br />
			<select name="appname" class="form-control" required
					ng-model="job.app"
					ng-options="app.name for app in apps"
					ng-change="loadCommands()">
			</select>
		</div>

		<!-- Command name -->
		<div class="form-group" ng-class="{'has-error': newJobForm.cmdname.$invalid && newJobForm.cmdname.$dirty}">
			<label for="cmdname" class="control-label">{{'SCHEDULING_COMMAND_NAME' | translate}}</label>
			<span class="r-help" ng-show="newJobForm.cmdname.$error.required">({{'SCHEDULING_REQUIRED' | translate}})</span><br />
			<select name="cmdname" class="form-control" required
					ng-model="job.cmdName"
					ng-options="cmd for cmd in cmdNames">
			</select>
		</div>

		<!-- CRON (edition) -->
		<div class="form-group">
			<label>
				{{'SCHEDULING_PLEASE' | translate}} <a href="https://fr.wikipedia.org/wiki/Cron">{{'SCHEDULING_CRON_EXPRESSION' | translate}}</a> {{'SCHEDULING_SETUP_SCHEDULE' | translate}}
				<span class="r-help" ng-show="newJobForm.cron.$error.required">({{'SCHEDULING_REQUIRED' | translate}})</span>
				<span class="r-help" ng-show="job.cron && cronIsInvalid()">({{'SCHEDULING_CONTAIN_FIELDS' | translate}})</span>
				<br />
				{{'SCHEDULING_YOU_CAN_USE' | translate}} <a href="" ng-click="showCronEditor = true">{{'SCHEDULING_SIMPLIFIED_CRON_EDITOR' | translate}}</a>.
			</label>

			<input type="text" class="form-control" name="cron" 
					placeholder="a CRON expression (e.g. to trigger a command every day: 0 0 * * *)" 
					ng-model="job.cron" required>
		</div>
		
		<div class="form-group">
			<label ng-show="showCronEditor"><a href="" ng-click="showCronEditor = false">{{'COMMON_HIDE' | translate}}</a> {{'SCHEDULING_SIMPLIFIED_CRON_EDITOR' | translate}}.</label>
			<!--
			<cron-selection output="job.cron" config="cronEditorConfig" ng-show="showCronEditor"></cron-selection>
			 -->
			 <quartz-cron-selection output="job.cron" config="cronEditorConfig" ng-show="showCronEditor"></quartz-cron-selection>
		</div>
	
		<p id="new-job-error" class="bg-danger" ng-show="errorMessage">{{ errorMessage }}</p>
		<button type="submit" class="btn btn-default pull-right" ng-disabled="! newJobForm.$valid" ng-click="createOrUpdateJob()">
			{{'COMMON_SUBMIT' | translate}}
		</button>
	</form>

</div>
