
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'SCHEDULING_SCHEDULER' | translate}} &raquo; {{ job.name }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/scheduler">{{'COMMON_SCHEDULED_JOBS' | translate}}</a></li>
		<li class="active"><a href="#/scheduler/job/{{ job.id }}">{{'COMMON_PROPERTIES' | translate}}</a></li>
		<li><a href="#/scheduler/job/{{ job.id }}/delete">{{'COMMON_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>

	<!-- Job properties -->
	<form novalidate name="newJobForm" ng-show="responseStatus === 0">

		<!-- Job name -->
		<div class="form-group" ng-class="{'has-error': newJobForm.jobname.$invalid && newJobForm.jobname.$dirty}">
			<label for="name" class="control-label">{{'SCHEDULING_JOB_NAME' | translate}}</label>
			<span class="r-help" ng-show="newJobForm.name.$error.required">{{'COMMON_REQUIRED' | translate}}</span><br />
			<input type="text" class="form-control" name="name" placeholder="a name" ng-model="job.name" ng-readonly="! editMode" required>
		</div>

		<!-- App name -->
		<div class="form-group" ng-class="{'has-error': newJobForm.appname.$invalid && newJobForm.appname.$dirty}">
			<label for="appname" class="control-label">{{'COMMON_APPLICATION_NAME' | translate}}</label>
			<span class="r-help" ng-show="newJobForm.appname.$error.required">{{'COMMON_REQUIRED' | translate}}</span><br />
			<select name="appname" class="form-control" required
					ng-model="job.app"
					ng-options="app.name for app in apps track by app.name"
					ng-change="loadCommands()"
					ng-show="editMode">
			</select>
			
			<input type="text" class="form-control" ng-hide="editMode" ng-model="job.app.name" required readonly>
		</div>

		<!-- Command name -->
		<div class="form-group" ng-class="{'has-error': newJobForm.cmdname.$invalid && newJobForm.cmdname.$dirty}">
			<label for="cmdname" class="control-label">{{'SCHEDULING_COMMAND_NAME' | translate}}</label>
			<span class="r-help" ng-show="newJobForm.cmdname.$error.required">{{'COMMON_REQUIRED' | translate}}</span><br />
			<select name="cmdname" class="form-control" required
					ng-model="job.cmdName"
					ng-options="cmd for cmd in cmdNames"
					ng-show="editMode">
			</select>
			
			<input type="text" class="form-control" ng-hide="editMode" ng-model="job.cmdName" required readonly>
		</div>

		<!-- CRON (read-only) -->
		<div class="form-group" ng-hide="editMode">
			<label>
				{{'SCHEDULING_THE' | translate}} <a href="https://fr.wikipedia.org/wiki/Cron">{{'SCHEDULING_CRON_EXPRESSION' | translate}}</a> {{'SCHEDULING_FOR_THE_SCHEDULE' | translate}}
			</label>
			<br />
			<input type="text" class="form-control" ng-model="job.cron" required readonly>
		</div>

		<!-- CRON (edition) -->
		<div class="form-group" ng-show="editMode">
			<label>
				{{'SCHEDULING_PLEASE' | translate}} <a href="https://fr.wikipedia.org/wiki/Cron">{{'SCHEDULING_CRON_EXPRESSION' | translate}}</a> {{'SCHEDULING_SETUP_SCHEDULE' | translate}}
				<span class="r-help" ng-show="newJobForm.cron.$error.required">{{'COMMON_REQUIRED' | translate}}</span>
				<span class="r-help" ng-show="job.cron">{{'SCHEDULING_CONTAIN_FIELDS' | translate}}</span>
				<br />
				{{'SCHEDULING_YOU_CAN_USE' | translate}} <a href="" ng-click="showCronEditor = true">{{'SCHEDULING_SIMPLIFIED_CRON_EDITOR' | translate}}</a>.
			</label>
			
			<input type="text" class="form-control" name="cron" 
					placeholder="a CRON expression (e.g. to trigger a command every day: 0 0 * * *)" 
					ng-model="job.cron" required>
		</div>
		
		<div class="form-group">
			<label ng-show="showCronEditor"><a href="" ng-click="showCronEditor = false">{{'COMMON_HIDE' | translate}}</a> {{'SCHEDULING_SIMPLIFIED_CRON_EDITOR_2' | translate}}</label>
			<cron-selection ng-model="job.cron" config="cronEditorConfig" ng-show="showCronEditor"></cron-selection>
		</div>
	
		<p class="bg-danger" ng-show="errorCode === 1">{{ 'SCHEDULING_IMPOSSIBLE_LISTING_APP' | translate }}</p>
		<p class="bg-danger" ng-show="errorCode === 2">{{ 'SCHEDULING_IMPOSSIBLE_UPDATE' | translate }}</p>
		<p class="bg-danger" ng-show="errorCode === 3">{{ 'SCHEDULING_IMPOSSIBLE_LISTING_CMD' | translate }}</p>
		
		<button type="submit" class="btn btn-default pull-right" ng-hide="editMode" ng-click="startEdit()">{{'COMMON_EDIT' | translate}}</button>
		<button type="submit" class="btn btn-default pull-right" ng-disabled="! newJobForm.$valid" ng-show="editMode" ng-click="completeEdit()">
			{{'COMMON_SUBMIT' | translate}}
		</button>
		<button type="submit" class="btn btn-default pull-right" ng-show="editMode" ng-click="cancelEdit()">{{'COMMON_CANCEL' | translate}}</button>
	</form>
	
	<div ng-show="responseStatus === 404">{{'SCHEDULING_NO_FOUND_JOB' | translate}} <strong>{{ '(' + job.id + ')' }}</strong>.</div>
</div>
