
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'COMMON_APPLICATIONS' | translate}} &raquo; {{ app.displayName }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li><a href="#/app/{{ app.name }}/overview">{{'COMMON_OVERVIEW' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/instances">{{'COMMON_INSTANCES' | translate}}</a></li>
		<li class="active"><a href="#/app/{{ app.name }}/commands">{{'COMMON_COMMANDS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/targets">{{'COMMON_TARGET_ASSOCIATIONS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/jobs">{{'COMMON_SCHEDULED_JOBS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/application-bindings">{{'COMMON_APPLICATIONS_BINDINGS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/delete">{{'COMMON_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>

	<!--  No application? -->
	<div ng-show="responseStatus === 404" translate="COMMON_NO_FOUND_APPLICATION" translate-values="{ name: app.name }"></div>

	<!-- Commands -->
	<div ng-show="responseStatus === 0 && commands.length === 0">{{'COMMANDS_NO_COMMAND_AVAILABLE' | translate}}</div>
	
	<div ng-show="responseStatus === 0 && commands.length > 0">
		{{'COMMANDS_AVAILABLE_COMMANDS' | translate}}<br />
		{{'COMMANDS_AVAILABLE_COMMANDS_2' | translate}}
		<br /><br />
		
		<div class="status-panel">
			<p ng-repeat="s in status" ng-class="s.ok ? 'bg-success' : 'bg-danger'">
				{{ s.msg }}
					
				<button type="button" class="close" aria-label="{{ COMMON_CLOSE | translate }}" ng-click="removeStatus( status, s )">
					<span aria-hidden="true" >&times;</span>
				</button>
			</p>
		</div>
	
		<table class="table table-hover table-rbcf">
			<tr>
				<th>-</th>
				<th>{{'COMMANDS_COMMAND_NAME' | translate}}</th>
				<th>{{'COMMANDS_AVAILABLE_ACTIONS' | translate}}</th>
			</tr>
			<tr ng-repeat="cmd in commands | filter:searchFilter">
				<td>{{ $index + 1 }}</td>
				<td>{{ cmd }}</td>
				<td>
					<a href="" ng-click="execute( cmd )">
						<span class="glyphicon glyphicon-play"></span>
						&nbsp;
						<span ng-hide="cmd.executed">{{'COMMANDS_EXECUTE' | translate}}</span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>
