<h1>
	Application Templates
	<img src="img/spinner.gif" class="spinner" alt="..." ng-show="! invoked" />
</h1>
	
<!-- Information Message -->
<p>
	This page lists all the application templates handled by the Deployment Manager.
</p>
	
<!-- Error message -->
<rbcf-error-message ng-show="error"></rbcf-error-message>
	
<!-- No application? -->
<div class="block" ng-show="! error && invoked && appTemplates.length == 0">
	<p class="block-title">Welcome</p>
	
	<div class="block-content">
		<p>
			No application template has been deployed so far.<br />
			You can deploy a new application template by uploading a ZIP file.
		</p>
		<p>
			<a href="#/application-templates/new" class="welcome">Upload your first application.</a>
		</p>
	</div>
</div>
	
<!-- Applications List -->
<div ng-repeat="app in appTemplates | filter:searchFilter" class="block">
	<p class="block-title">
		<span ng-click="goToApplication( app.name )">{{ app.name }} &nbsp; :: &nbsp; {{ app.qualifier }}</span>
		<span class="block-annotation">
			<span class="glyphicon glyphicon-trash" title="Remove the Application from the List" ng-click="deleteAppTemplate( app.name, app.qualifier )"></span>
		</span>
	</p>
	
	<div class="block-content">
		<p>{{ app.desc }}</p>
	</div>
</div>
