<img src="img/state-starting.jpg" alt="Starting" />

<div class="btn-group">
	<button type="button" class="btn btn-lg btn-roboconf dropdown-toggle" data-toggle="dropdown">
		Available Actions 
		<span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu" role="menu">
		<li><a href="" ng-click="setActionId( 'stop' )">Stop it and All its Children</a></li>
	</ul>
</div>

<div class="btn-group" ng-show="actionId !== ''" ng-click="perform()">
	<button type="button" class="btn btn-lg btn-confirm">{{ 'Confirm - ' + actionIdLabel }}</button>
</div>
