<h1>
	{{ appName }}
	<img src="img/spinner.gif" class="spinner" alt="..." ng-show="! invoked && noError" />
</h1>

<!--Global Actions -->
<div class="btn-group right-aligned" ng-show="invoked && noError">
	<button type="button" class="btn btn-roboconf dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-cog"></span>
		Global Actions <span class="caret"></span>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li ng-click="performAll( 'deploy-all', false )"><a href="">Deploy and Start All</a></li>
		<li ng-click="performAll( 'stop-all', false )"><a href="">Stop All</a></li>
		<li ng-click="performAll( 'undeploy-all', false )"><a href="">Undeploy All</a></li>
		<li class="divider"></li>
		<li><a href="">Create a New Instance</a></li>
		<li><a href="">Delete Instances</a></li>
	</ul>
</div>

<p ng-show="invoked && noError">
	This page lists all the instances of the <strong>{{ appName }}</strong> application.<br />
	Here, you can control their life cycle.
</p>

<p class="clear"></p>

<!-- A dynamic template to build a tree with AngularJS -->
<script type="text/ng-template" id="my-tmpl">
    <p ng-click="setSelectedInstance( childNode.instance )">
		<strong>{{ childNode.instance.name }}</strong> is {{ formatStatus( childNode.instance.status )}}.
	</p>
    <ul>
        <li ng-repeat="childNode in childNode.children" ng-include="'my-tmpl'"></li>
    </ul>
</script>

<!-- No connection to the server -->
<div class="block" ng-show="! noError && rootUrl != ''">
	<p class="block-title">Oops</p>
	
	<div class="block-content">
		<p>
			An error occurred.<br />
			Communication with the server failed. Make sure the Deployment Manager is started.
		</p>
		<p>
			The Deployment Manager is hosted at <strong>{{ rootUrl }}</strong>.<br />
			This URL can be changed in <a href="#/settings">the settings page</a>.
		</p>
	</div>
</div>

<!-- Display the hierarchy of instances -->
<div ng-repeat="rootNode in rootNodes" class="{{ findBlockClass( rootNode.instance.path )}}">
	<p class="block-title" ng-click="setSelectedInstance( rootNode.instance )">
		{{ rootNode.instance.name }}
		<span class="block-annotation">{{ formatStatus( rootNode.instance.status )}}</span>
	</p>
	
	<ul>
		<li ng-repeat="childNode in rootNode.children" ng-include="'my-tmpl'"></li>
	</ul>
</div>

<!-- Display the details of an instance -->
<div id="instance-overview" ng-show="selectedInstance">
	<img src="img/spinner.gif" class="spinner" alt="..." ng-show="actionInProgress" />
	<h3>{{ selectedInstance.name }}</h3>
		
	<strong>Instance Path:</strong> {{ selectedInstance.path }}<br />
	<strong>Instance Status:</strong> {{ formatStatus( selectedInstance.status )}}<br />
	<strong>Component:</strong> {{ selectedInstance.component.name }}
	
	<div class="instance-actions" ng-include="template"></div>
</div>
