<h1>{{ appName }}</h1>

<p class="right-aligned" ng-show="rInvoked == true && rErrorMsg == ''">
	<a href="#/new"><button type="button" class="btn btn-primary" title="Create a new instance">New Instance</button></a>
</p>

<p>
	This page lists all the instances of the application <strong>{{ appName }}</strong>.<br />
</p>

<p class="clear"></p>

<p class="r-error-msg" ng-show="rInvoked == true && rErrorMsg != ''">
	An error occurred.<br />
	{{ rErrorMsg }}
</p>

<table class="table table-condensed" ng-show="rInvoked == true && rErrorMsg == ''">
	<thead>
		<tr>
			<th class="r-counter">#</th>
			<th>Instance Name</th>
			<th>Component</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	
	<tbody>
		 <tr ng-repeat="instance in instances | orderBy: 'path'">
		 	<td class="r-counter"><strong> &nbsp </strong></td> <!-- FIXME: add a counter here -->
			<td class="{{ 'r-inst-' + findPosition( instance.path )}}"><a href="#">{{ instance.name }}</a></td>
			<td>{{ instance.component.name }}</td>
			<td>{{ instance.status }}</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default" ng-click="perform( appName, 'deploy', instance.path )" title="deploy">
						<span class="glyphicon glyphicon-share-alt"></span>
					</button>
					<button type="button" class="btn btn-default" ng-click="perform( appName, 'start', instance.path )" title="start">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button type="button" class="btn btn-default" ng-click="perform( appName, 'stop', instance.path )" title="stop">
						<span class="glyphicon glyphicon-stop"></span>
					</button>
					<button type="button" class="btn btn-default" ng-click="perform( appName, 'undeploy', instance.path )" title="undeploy">
						<span class="glyphicon glyphicon-flash"></span>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
