<h1>{{ appName }}</h1>

<p>
	Check all the instances of the application <strong>{{ appName }}</strong>.<br />
</p>

<script type="text/ng-template" id="my-tmpl">
    <p ng-click="setSelectedInstance( childNode.instance )">
		<strong>{{ childNode.instance.name }}</strong> is {{ formatStatus( childNode.instance.status )}}.
	</p>
    <ul>
        <li ng-repeat="childNode in childNode.children" ng-include="'my-tmpl'"></li>
    </ul>
</script>

<p class="r-error-msg" ng-show="rInvoked == true && rErrorMsg != ''">
	An error occurred.<br />
	{{ rErrorMsg }}
</p>

<div ng-repeat="rootNode in rootNodes" class="block short-block">
	<p>{{ rootNode.instance.name }}</p>
	
	<ul>
		<li ng-repeat="childNode in rootNode.children" ng-include="'my-tmpl'"></li>
	</ul>
</div>

<div id="instance-overview" ng-show="selectedInstance">
	<h3>{{ selectedInstance.name }}</h3>
	
	<strong>Instance Path:</strong> {{ selectedInstance.path }}<br />
	<strong>Instance Status:</strong> {{ formatStatus( selectedInstance.status )}}<br />
	<strong>Component:</strong> {{ selectedInstance.component.name }}
</div>
