<h1>
	Applications
	<img src="img/spinner.gif" class="spinner" alt="..." ng-show="! invoked && noError" />
</h1>


<!-- Application Upload button -->
<p class="right-aligned" ng-show="noError && apps.length > 0">
	<button type="button" class="btn btn-roboconf" title="Load a new application" data-toggle="modal" data-target="#apps-modal">
		<span class="glyphicon glyphicon-cloud-upload"></span>
		New Application
	</button>
</p>

<p ng-show="invoked && noError">
	This page lists all the applications handled by the same Deployment Manager.<br /> 
	The deployment manager is hosted at {{ rootUrl }}.
</p>

<p class="clear"></p>

<!-- No connection to the server -->
<div class="block" ng-show="! noError && rootUrl != ''">
	<p class="block-title">Oops</p>
	
	<div class="block-content">
		<p>
			An error occurred.<br />
			Communication with the server failed. Make sure the Deployment Manager is started.
		</p>
		<p>
			The Deployment Manager is hosted at <strong>{{ rootUrl }}</strong>.<br />
			This URL can be changed in <a href="#/settings">the settings page</a>.
		</p>
	</div>
</div>

<!-- No default URL -->
<div class="block" ng-show="rootUrl == ''">
	<p class="block-title">Welcome</p>
	
	<div class="block-content">
		<p>
			This is the administration interface for Roboconf's Deployment Manager.<br />
			Before going further, you need to set the URL of the Deployment Manager in <a href="#/settings">the settings page</a>.
		</p>
		<p>
			This URL defines the location of Roboconf's administration REST API.
		</p>
	</div>
</div>

<!-- Modal Definition -->
<div ng-include="'pages/includes/upload-application.html'"></div>

<!-- No application? -->
<div class="block" ng-show="invoked && noError && apps.length == 0">
	<p class="block-title">Welcome</p>

	<div class="block-content">
		<p>
			No application has been deployed so far.<br />
			You can deploy a new application by uploading a ZIP file. The archive's structure must be the one of a Roboconf application.
			<br />It must contain the following directories: <strong>descriptor</strong>, <strong>graph</strong> and <strong>instances</strong>.
			See <a href="http://roboconf.net/en/user-guide/user-guide.html">Roboconf's web site</a> for more information.
		</p>
		<p>
			<a href="#" class="welcome" data-toggle="modal" data-target="#apps-modal">Upload your first application.</a>
		</p>
	</div>
</div>

<!-- Applications List -->
<div ng-repeat="app in apps" class="block">
	<p class="block-title">
		<span ng-click="goToApplication( app.name )">{{ app.name }} &nbsp; :: &nbsp; {{ app.qualifier }}</span>
		<span class="block-annotation">
			<span class="glyphicon glyphicon-screenshot" title="Shutdown the Application" ng-click="shutdownApp( app.name )"></span>
			&nbsp;
			<span class="glyphicon glyphicon-trash" title="Remove the Application from the List" ng-click="deleteApp( app.name )"></span>
		</span>
	</p>
	
	<div class="block-content">
		<p>{{ app.desc }}</p>
	</div>
</div>
