<h1>Settings</h1>

<p ng-show="message != ''">
	{{ message }}
</p>

<form role="form">
	<div class="form-group">
		<label for="rest-location">REST Services Location</label>
		<input type="text" class="form-control" id="rest-location" ng-model="preferences.dm.rest.location" required />
	</div>

	<div class="form-group">
		<label for="msg-location">Messaging Server Location</label>
		<input type="text" class="form-control" id="msg-location" ng-model="preferences.messaging.server.location" />
	</div>
	
	<br />
	<div class="r-prefs-buttons">
		<button type="submit" class="btn btn-default" ng-click="restorePrefs()">Restore</button>
		<button type="submit" class="btn btn-default" ng-click="savePrefs( preferences )">Save</button>
	</div>
</form>

<div class="form-group">
	<label for="dm-state">Deployment Manager State</label><br />
	<span class="r-dm-state">{{ dmState }}</span>
	<button type="submit" class="btn btn-default" ng-click="initializeDm( preferences.messaging.server.location )">(Re) Initialize</button>
</div>
