<h1>Settings</h1>

<p>
	Manage your settings and preferences.<br />
</p>

<p ng-show="message != ''">
	{{ message }}
</p>

<form role="form">

	<!-- REST Server -->
	<div class="block">
		<p class="block-title">REST Server</p>
		
		<div class="block-content">
			<p>
				Specify the location (URL and port) of the REST API exposed by Roboconf's deployment manager.
			</p>
			
			<input type="text" class="form-control" id="rest-location" ng-model="restLocation" />
			<button type="submit" class="btn btn-default" ng-click="saveRestLocation( restLocation )">Save</button>
			<br /><br />
			<p id="settings-result"></p>
		</div>
	</div>
</form>
