
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'APPLICATIONS' | translate}}
	</h1>
</div>
	
<div class="menu">
	<ul>
		<li><a href="#/">{{'APPLICATIONS' | translate}}</a></li>
		<li class="active"><a href="#/applications/new">{{'APPLICATIONS_NEW' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<form novalidate name="newAppForm">
		<div class="form-group" ng-class="{'has-error': newAppForm.name.$invalid && newAppForm.name.$dirty}">
			<label for="name" class="control-label">{{'APPLICATIONS_NAME' | translate}}</label>
			<span class="r-help" ng-show="newAppForm.name.$error.required">{{'APPLICATIONS_REQUIRED' | translate}}</span><br />
			<input type="text" class="form-control" name="name" placeholder="a name" ng-model="app.name" required>
		</div>
		
		<div class="form-group" ng-class="{'has-error': newAppForm.description.$invalid && newAppForm.description.$dirty}">
			<label for="description" class="control-label">{{'APPLICATIONS_DESCRIPTION' | translate}}</label>
			<span class="r-help" ng-show="newAppForm.description.$error.required">{{'APPLICATIONS_REQUIRED' | translate}}</span><br />
			<textarea class="form-control" rows="5" placeholder="a description" name="description" ng-model="app.description" required></textarea>
		</div>
		
		<div class="form-group">
			<label>
				{{'APPLICATIONS_PLEASE' | translate}}, <a href="" ng-click="showFromExisting()">{{'APPLICATIONS_SELECT_AN_EXISTING_TEMPLATE' | translate}}</a> {{'APPLICATIONS_TO_CREATE_AN_APPLICATION' | translate}}
				   <a href="" ng-click="showUpload()">{{'APPLICATIONS_UPLOAD_NEW_TEMPLATE' | translate}}</a> {{'APPLICATIONS_FIRST' | translate}}.
			</label>
			
			<select class="form-control" id="applicationTemplate" required
					ng-show="fromExisting"
					ng-model="app.tpl"
					ng-options="formatTpl( tpl ) for tpl in appTemplates">
			</select>
		</div>
	
		<p id="new-application-error" class="bg-danger" ng-show="errorMessage">{{ errorMessage }}</p>
		<button type="submit" class="btn btn-default pull-right" ng-show="fromExisting" ng-disabled="! newAppForm.$valid" ng-click="createNewApplication( app )">
			{{'APPLICATIONS_SUBMIT' | translate}}
		</button>
	</form>
	
	<!-- No nested form, keep the ZIP upload after the form -->
	<rbcf-zip-upload ng-show="! fromExisting"></rbcf-zip-upload>
	<p id="upload-result-details">
		{{'APPLICATIONS_NEW_YOU_CAN' | translate}} <a href="" ng-click="completeCreation()">{{'APPLICATIONS_COMPLETE_APPLICATION_CREATION' | translate}}</a>.
	</p>
</div>
