
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		Applications &raquo; {{ app.name }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
</div>

<div class="menu">
	<ul>
		<li class="active"><a href="#/app/{{ app.name }}/overview">Overview</a></li>
		<li><a href="#/app/{{ app.name }}/instances">Instances</a></li>
		<li><a href="#/app/{{ app.name }}/commands">Commands</a></li>
		<li><a href="#/app/{{ app.name }}/targets">Target Associations</a></li>
		<li><a href="#/app/{{ app.name }}/application-bindings">Application Bindings</a></li>
		<li><a href="#/app/{{ app.name }}/delete">Delete</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>

	<!-- Application Details -->
	<rbcf-single-app ng-show="responseStatus === 0"></rbcf-single-app>

	<div>
		<input type="file" id="file-id" class="inputfile" custom-on-change="onFile">
		<div ng-if="dataUrl" class="img-container">
			<img ng-if="dataUrl" ng-src="{{dataUrl}}" width="800"
				ng-cropper
				ng-cropper-proxy="cropperProxy"
				ng-cropper-show="showEvent"
				ng-cropper-hide="hideEvent"
				ng-cropper-options="options">
		</div>
		<button ng-show="showButton" ng-click="uploadIcon( app.name )">Upload</button>
	</div>

	<div ng-show="responseStatus === 404">No application called <strong>{{ app.name }}</strong> was found.</div>
</div>
