
<div class="block">
	<p class="block-title">
		<a href="#/app/{{ app.name }}/instances">{{ app.displayName }}</a>
		<span
				class="block-annotation" title="{{ 'APPLICATIONS_DELETE_THIS_APP' | translate }}"
				ng-show="showLinks && (! app.info || app.info === 'nd')" ng-click="deleteApplication( app )">
			<span aria-hidden="true">x</span>
		</span>
	</p>
	
	<p class="app-avatar">
 		<img id="img-id" alt="application's icon"
 				title="{{showLinks? '' : ('APPLICATIONS_DIRECTIVE_REPLACE_IMAGE' | translate)}}"
 				ng-src="{{ findIcon( app )}}" 
 				ng-class="findIconStyle( app )" 
 				ng-click="selectFile()" />
	</p>
	
	<div class="app-links">
		<span ng-show="! app.info || app.info === 'nd'">
			<span class="glyphicon glyphicon-info-sign text-info"></span>&nbsp;
			<span class="text-info">{{'APPLICATIONS_DIRECTIVE_NO_DEPLOYED_INSTANCE' | translate }}</span>
		</span>
		
		<span ng-show="app.info === 'ok'">
			<span class="glyphicon glyphicon-ok-sign text-success"></span> &nbsp;
			<span class="text-success">{{'APPLICATIONS_DIRECTIVE_DEPLOYED_INSTANCES' | translate }}</span>
		</span>
		
		<span ng-show="app.info === 'warn'">
			<span class="glyphicon glyphicon-remove-sign text-orange"></span> &nbsp;
			<span class="text-orange">{{'APPLICATIONS_DIRECTIVE_INSTANCES_WITH_PROBLEMS' | translate }}</span>
		</span>
		
		<div ng-show="showLinks">
			<strong>{{'COMMON_QUICK_ACCESS' | translate }}</strong>
			<ul>
				<li><a href="#/app/{{ app.name }}/instances">{{'APPLICATIONS_DIRECTIVE_MANAGE_INSTANCES' | translate }}</a></li>
				<li><a href="#/app/{{ app.name }}/overview">{{'APPLICATIONS_DIRECTIVE_ACCES_APPLICATION_PAGE' | translate }}</a></li>
			</ul>
		</div>
	</div>

	<p class="app-desc">
		<span class="formatted">{{ app.desc }}</span>
		<br /><br />
		
		<strong>{{'APPLICATIONS_TEMPLATE_NAME' | translate }}</strong> <a href="#/tpl/{{ app.tplName }}/{{ app.tplQualifier }}/overview">{{ app.tplName }}</a><br />
		<strong>{{'APPLICATIONS_DIRECTIVE_TEMPLATE_QUALIFIER' | translate }}</strong> {{ app.tplQualifier }}<br />
		
		<span ng-show="app.extDep">
			<strong>{{'COMMON_EXTERNAL_DEPENDENCIES' | translate}}</strong> {{'COMMON_YES' | translate}}
		</span>
		<br ng-show="app.extDep" />
		
		<span ng-show="app.tplEep">
			<strong>{{'COMMON_PREFIX_FOR_EXTERNAL_EXPORTS' | translate}}</strong> {{ app.tplEep }}
		</span>
	</p>
	
	<div ng-show="app.extVars && ! showLinks" class="app-variables">
		{{'COMMON_DIRECTIVE_VISIBLE_VARIABLES' | translate}}:
		<ul class="nice-list">
			<li ng-repeat="(k,v) in app.extVars">&raquo; &nbsp; {{ k }} <strong>{{'APPLICATIONS_DIRECTIVE_AS' | translate}}</strong> {{ v }}</li>
		</ul>
	</div>
	
	<div class="clearfix"></div>
</div>
