
<rbcf-menu></rbcf-menu>

<div class="content">
	<h1>
		{{'APPLICATIONS' | translate}} &raquo; {{ app.name }}
		<img src="img/spinner.gif" class="spinner" alt="..." ng-show="responseStatus === -1" />
	</h1>
	
	<!-- <p>
    	<a href="#/app/{{ app.name }}/overview" ng-click="setLang('en_US')">English</a>
    	<a href="#/app/{{ app.name }}/overview" ng-click="setLang('fr_FR')">Français</a>
  	</p> -->
</div>

<div class="menu">
	<ul>
		<li class="active"><a href="#/app/{{ app.name }}/overview">{{'APPLICATIONS_OVERVIEW' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/instances">{{'APPLICATIONS_INSTANCES' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/commands">{{'APPLICATIONS_COMMANDS' | translate}}</a></li>  
		<li><a href="#/app/{{ app.name }}/targets">{{'APPLICATIONS_TARGET' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/jobs">{{'APPLICATIONS_SCHEDULED_JOBS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/application-bindings">{{'APPLICATIONS_BINDINGS' | translate}}</a></li>
		<li><a href="#/app/{{ app.name }}/delete">{{'APPLICATIONS_DELETE' | translate}}</a></li>
	</ul>
</div>

<div class="content short-content">

	<!-- Error message -->
	<rbcf-error-message ng-show="responseStatus > 0 && responseStatus !== 404"></rbcf-error-message>

	<!-- Application Details -->
	<rbcf-single-app ng-show="responseStatus === 0 && ! showButton"></rbcf-single-app>

	<div>
		<div ng-show="showButton && dataUrl">
			<img ng-if="dataUrl" ng-src="{{ dataUrl }}"
				ng-cropper
				ng-cropper-proxy="cropperProxy"
				ng-cropper-show="showEvent"
				ng-cropper-hide="hideEvent"
				ng-cropper-options="options" />
		</div>

		<input type="file" id="file-id" class="crop-hidden" rbcf-icon-management="onFile" />
		<div ng-show="showButton">
			<button type="submit" class="btn btn-default pull-right" ng-click="uploadIcon( app.name )">{{'APPLICATIONS_UPLOAD' | translate}}</button>
			<button type="submit" class="btn btn-default pull-right" ng-click="showButton = false">{{'APPLICATIONS_CANCEL' | translate}}</button>
		</div>
	</div>

 	<div ng-show="responseStatus === 404" translate="{{'APPLICATIONS_NO_FOUND_APPLICATION' | translate: appData}}"></div> 
 	
</div>
