<img src="img/state-deployed-started.jpg" alt="Deployed and Started" />

<p class="instance-status-description">Description</p>

The instance is started. It can be only be stopped.<br />
The life cycle of this instance is handled by Roboconf's <strong>{{ selectedInstance.component.installer }}</strong> installer.

<!-- <div class="btn-group"> -->
<!-- 	<button type="button" class="btn btn-lg btn-roboconf dropdown-toggle" data-toggle="dropdown"> -->
<!-- 		Available Actions  -->
<!-- 		<span class="caret"></span> -->
<!-- 	</button> -->
	
<!-- 	<ul class="dropdown-menu" role="menu"> -->
<!-- 		<li><a href="" ng-click="setActionId( 'stop' )">Stop it</a></li> -->
<!-- 		<li class="divider"></li> -->
<!-- 		<li><a href="" ng-click="setActionId( 'undeploy' )">Undeploy it</a></li> -->
<!-- 	</ul> -->
<!-- </div> -->

<!-- <div class="btn-group" ng-show="actionId !== ''" ng-click="perform()"> -->
<!-- 	<button type="button" class="btn btn-lg btn-confirm">{{ 'Confirm - ' + actionIdLabel }}</button> -->
<!-- </div> -->
