<img src="img/state-not-deployed.jpg" alt="Not Deployed" />
<p>The following actions can be undertaken.</p>

<div class="btn-group btn-group-justified">
	<div class="btn-group" ng-click="changeState( 'DEPLOYED_STOPPED' )">
		<button class="btn btn-roboconf" title="Deploy"> <span class="glyphicon glyphicon-tower"></span> &nbsp; Deploy this Instance</button>
	</div>
	<!-- FIXME: should be perform and start... -->
	<div class="btn-group" ng-click="changeState( 'DEPLOYED_STARTED' )">
		<button class="btn btn-roboconf" title="Deploy and Start"> <span class="glyphicon glyphicon-play"></span> &nbsp; Deploy and Start It</button>
	</div>
</div>

<br />
<strong>Description</strong>
<br />

The instance is not deployed. It can only be deployed.<br />
The life cycle of this instance is handled by Roboconf's <strong>{{ selectedInstance.component.installer }}</strong> installer.
