<h1>
	Applications
	<img src="img/spinner.gif" class="spinner" alt="..." ng-show="! invoked" />
</h1>

<!-- Information Message -->
<p>
	This page lists all the applications handled by the Deployment Manager.
</p>

<!-- Error message -->
<div rbcf-error-message ng-show="error"></div>

<!-- No application? -->
<div class="block" ng-show="! error && invoked && apps.length == 0">
	<p class="block-title">Welcome</p>

	<div class="block-content">
		<p>
			No application has been created so far.<br />
			You can <a href="#/applications/new" class="welcome">create your first application.</a>
		</p>
	</div>
</div>

<!-- Applications List -->
<div ng-repeat="app in apps | filter:$rootScope.rbcfFilter" class="block">
	<p class="block-title">
		<span ng-click="goToApplication( app.name )">{{ app.name }} &nbsp; :: &nbsp; {{ app.qualifier }}</span>
		<span class="block-annotation">
			<span class="glyphicon glyphicon-screenshot" title="Shutdown the Application" ng-click="shutdownApp( app.name )"></span>
			&nbsp;
			<span class="glyphicon glyphicon-trash" title="Remove the Application from the List" ng-click="deleteApp( app.name )"></span>
		</span>
	</p>
	
	<div class="block-content">
		<p>{{ app.desc }}</p>
	</div>
</div>
