<img src="img/state-root-undeploying.gif" alt="Undeploying" />
<p>{{'INSTANCES_INCLUDES_ACTIONS' | translate}}</p>

<ul>
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">{{'INSTANCES_INCLUDES_TRY_TO_UNDEPLOY' | translate}}</a></li>
	<li><a href="" ng-click="createChildInstance()">{{'INSTANCES_INCLUDES_CREATE_CHILD' | translate}}</a></li>
</ul>

<br />
<strong>{{'COMMON_DESCRIPTION' | translate}}</strong>
<br />

<span translate="INSTANCES_INCLUDES_DESCRIPTION_APP_ROOT_UNDEPLOYING" />
<br />
{{'INSTANCES_INCLUDES_DESCRIPTION_APP_ROOT_UNDEPLOYING_2' | translate}}
