<strong>{{'INSTANCES_INCLUDES_IP_ADDRESS' | translate}}</strong> {{ selectedInstance.data["ip.address"] }}<br />
<strong>{{'INSTANCES_INCLUDES_MACHINE_ID' | translate}}</strong> {{ selectedInstance.data["machine.id"] }}<br />

<img src="img/state-root-deployed-started.jpg" alt="Deployed and Started" />
<p>{{'INSTANCES_INCLUDES_ACTIONS' | translate}}</p>

<ul>
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">{{'INSTANCES_INCLUDES_UNDEPLOY_INSTANCE' | translate}}</a></li>
	<li><a href="" ng-click="createChildInstance()">{{'INSTANCES_INCLUDES_CREATE_CHILD' | translate}}</a></li>
</ul>

<br />
<strong>{{'COMMON_DESCRIPTION' | translate}}</strong>
<br />

{{'INSTANCES_INCLUDES_DESCRIPTION_APP_ROOT_DEPLOYED_STARTED' | translate}}<br />
<span translate="INSTANCES_INCLUDES_DESCRIPTION_CYCLE" translate-values="{ installer: selectedInstance.component.installer }" />
