<img src="img/state-deployed-stopped.jpg" alt="{{ 'STATUS_DEPLOYED_AND_STOPPED' | translate }}" />
<p>{{'INSTANCES_INCLUDES_ACTIONS' | translate}}</p>

<ul>
	<li><a href="" ng-click="changeState( 'DEPLOYED_STARTED' )">{{'INSTANCES_INCLUDES_START_INSTANCE' | translate}}</a></li>
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">{{'INSTANCES_INCLUDES_UNDEPLOYED_IT' | translate}}</a></li>
	<li><a href="" ng-click="createChildInstance()">{{'INSTANCES_INCLUDES_CREATE_CHILD' | translate}}</a></li>
</ul>

<br />
<strong>{{'COMMON_DESCRIPTION' | translate}}</strong>
<br />

{{'INSTANCES_INCLUDES_DESCRIPTION_APP_DEPLOYED_STOPPED' | translate}}<br />
<span translate="INSTANCES_INCLUDES_DESCRIPTION_CYCLE" translate-values="{ installer: selectedInstance.component.installer }" />
