<img src="img/state-root-deploying.gif" alt="Deploying" />
<p>{{'INSTANCES_INCLUDES_ACTIONS' | translate}}</p>

<ul class="actions-list">
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">{{'INSTANCES_INCLUDES_UNDEPLOY_INSTANCE' | translate}}</a></li>
	<li><a href="" ng-click="createChildInstance()">{{'INSTANCES_INCLUDES_CREATE_CHILD' | translate}}</a></li>
</ul>

<br />
<strong>{{'COMMON_DESCRIPTION' | translate}}</strong>
<br />

<span translate="INSTANCES_INCLUDES_DESCRIPTION_APP_ROOT_DEPLOYING" translate-values="{ installer: selectedInstance.component.installer }" />
{{'INSTANCES_INCLUDES_DESCRIPTION_APP_TAKE_TIME' | translate}}
