<img src="img/state-root-deploying.gif" alt="Deploying" />
<p>The following actions can be undertaken.</p>

<ul class="actions-list">
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">Undeploy this instance</a></li>
	<li><a href="" ng-click="createChildInstance()">Create a child instance</a></li>
</ul>

<br />
<strong>Description</strong>
<br />

The instance is being deployed by Roboconf's <strong>{{ selectedInstance.component.installer }}</strong> installer.<br />
This may take some time.
