<img src="img/state-starting.gif" alt="Unresolved" />
<p>{{'INSTANCES_INCLUDES_ACTIONS' | translate}}</p>

<ul>
	<li><a href="" ng-click="changeState( 'DEPLOYED_STOPPED' )">{{'INSTANCES_INCLUDES_STOP_INSTANCE' | translate}}</a></li>
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">{{'INSTANCES_INCLUDES_UNDEPLOYED_IT' | translate}}</a></li>
	<li><a href="" ng-click="createChildInstance()">{{'INSTANCES_INCLUDES_CREATE_CHILD' | translate}}</a></li>
</ul>

<br />
<strong>{{'INSTANCES_INCLUDES_DESCRIPTION_TITLE' | translate}}</strong>
<br />

{{'INSTANCES_INCLUDES_DESCRIPTION_APP_UNRESOLVED' | translate}}
<br/>
{{'INSTANCES_INCLUDES_DESCRIPTION_APP_UNRESOLVED_2' | translate}}
