<img src="img/state-root-not-deployed.jpg" alt="Not Deployed" />
<p>The following actions can be undertaken.</p>

<ul>
	<li><a href="" ng-click="changeState( 'DEPLOYED_STARTED' )">Deploy this instance</a></li>
	<li><a href="" ng-click="performAll( 'deploy-all', true )">Deploy and Start everything</a></li>
	<li><a href="" ng-click="createChildInstance()">Create a child instance</a></li>
</ul>

<br />
<strong>Description</strong>
<br />

The instance is not deployed. It can only be deployed.<br />
You can also deploy and start this instance with all its children in one click.
The life cycle of this instance is handled by Roboconf's <strong>{{ selectedInstance.component.installer }}</strong> installer.
