<img src="img/state-deployed-started.jpg" alt="Deployed and Started" />
<p>The following actions can be undertaken.</p>

<ul>
	<li><a href="" ng-click="changeState( 'DEPLOYED_STOPPED' )">Stop this instance</a></li>
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">Undeploy it</a></li>
	<li><a href="" ng-click="createChildInstance()">Create a child instance</a></li>
</ul>

<br />
<strong>Description</strong>
<br />

The instance is started. It can be only be stopped.<br />
The life cycle of this instance is handled by Roboconf's <strong>{{ selectedInstance.component.installer }}</strong> installer.
