<img src="img/state-starting.gif" alt="Unresolved" />
<p>The following actions can be undertaken.</p>

<ul>
	<li><a href="" ng-click="changeState( 'DEPLOYED_STOPPED' )">Stop this instance</a></li>
	<li><a href="" ng-click="changeState( 'NOT_DEPLOYED' )">Undeploy it</a></li>
	<li><a href="" ng-click="createChildInstance()">Create a child instance</a></li>
</ul>

<br />
<strong>Description</strong>
<br />

The instance is waiting for its dependencies to be resolved before starting.
This may take some time.
