/* Global Properties */

* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
  	min-height: 100%;
}

a:hover, a:active, a:focus, a:visited {
    outline: none;
    border: 0;
    background-color: #ffffff;
}

h3 {
	font-weight: bold;
 	font-size: 16px;
}

.button {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid #d5dce0 1px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	padding: 6px 19px;
}

.btn-rbcf {
	background-color: #b23e4b;
	color: #ffffff;
}

.btn-rbcf:hover {
	text-decoration: underline;
	color: #ffffff;
}

.r-red {
	color: #b23e4b;
}

img.spinner {
	padding-left: 40px;
}

span.formatted {
	white-space: pre-wrap;
}

/* Top of the Pages */

#header-img {
	height: 90px;
	margin: 8px 0 0 10px;
	padding: 0 34px 14px 18px;
	border-bottom: solid black 3px;
}

.navbar-rbcf {
	margin: 0 0 28px 0;
	padding-right: 24px;
}

.navbar-rbcf > div {
	position: absolute;
	top: 2px;
	right: 24px;
}

.navbar-rbcf span {
	background-color: white;
	color: #000000;
}

ul.navbar-nav > li.underlined:hover {
	border-bottom: solid #b23e4b 2px;
	text-decoration: none;
}

.nav > li > a:focus {
	background-color: #fff !important;
}

#search-bar {
	display: none;
	width: 200px;
	transition: all .5s ease;
	padding: 2px 4px;
	margin-top: 12px;
}

/* Other Pages */

.content {
	margin: 0 20px 4em 20px;
}

.content > p {
	margin-bottom: 32px;
}

.content a, .content a:hover {
	color: #b23e4b;
}

.content h1 {
	font-size: 2.4em;
	font-weight: bold;
}

.content h2 {
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 20px;
}

 a.welcome {
 	font-size: 14px;
 	font-weight: bold;
 }

/*
 * Blocks
 */

/* The block for a root instance. */
div.block {
	border-radius: 10px;
	border: solid #b23e4b 1px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 24px;
}

.block-faded {
	opacity: 0.4;
	transition: opacity 1s;
}

div.block p {
	margin: 0;
}

/* The name of a root instance's block */

p.block-title {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #b23e4b;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 0 6px 18px;
}

p.block-title:hover {
	text-decoration: underline;
}

p.block-title > a {
	color: #ffffff;
	font-weight: bold;
}

div.block-content > p {
	margin-bottom: 16px;
}

span.block-annotation {
	display: inline-block;
	float: right;
	padding-right: 24px;
	font-weight: bold;
}

span.block-annotation:hover {
	cursor: pointer;
}

/* The content for blocks */

div.block-content {
	padding: 14px 14px 0 14px;
}


/*
 * app.html
 */

/* Nested instances rely on lists. */
.instances ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 30px;
}

/* The first list leaves space below. */
.instances > ul {
	padding-bottom: 11px;
}

/* The lists have a left border. */
.instances > ul ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 2px #b23e4b solid;
}

/* Put list items in relative position. */
.instances ul li {
	padding: 0 0 0 16px;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}

/* List items have a top border. */
.instances ul li:before {
	content: "";
	display: block;
	width: 12px; /* same with indentation */
	height: 0;
	border-top: 2px #b23e4b solid;
	position: absolute;
	top: 14px;
	left: 0;
}

/* The FIRST list item (call it the main root) has a more important padding top (branch tree). */
.instances > ul > li:first-child:before {
	top: 25px !important;
}

/* The last item in a list hides the left border (smooth effect). */
.instances ul li:last-child:before {
	height:auto;
	top: 16px; /* (line-height/2) */
	bottom: 0;
	background:white;
	z-index: 11;
}

/* The FIRST list item has a more important padding top. */
.instances > ul > li:first-child {
	padding-top: 10px;
}

/* Define the padding of list items. */
.instances ul li p {
	padding: 6px 0 6px 7px;
}

/* Hover list items */
.instances ul li.listing p:hover {
	color: #b23e4b;
	cursor: pointer;
}

/* Selected instance */
.instances ul > li.selected > p {
	color: #b23e4b;
}

.editor-actions {
	padding-right: 16px !important;
}

.editor-actions > span:hover {
	cursor: pointer;
	color: #b23e4b;
}


/*
 * Uploads
 */
#upload-result {
	margin-bottom: 0;
}

#upload-result-details {
	margin-top: 0;
	display: none;
}

#upload-result-details > ul {
	margin: 6px 0 0 36px;
}


/*
 * Applications
 */
span.r-help {
	font-style: italic;
}

option {
	padding: 0 4px 1px;
}

#new-application-error {
	padding: 8px 12px;
}

.css-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
	background-color: #78FA89;
}


/*
 * Master-Details
 */
#right-block {
	float: left;
	width: 47%;
	border-radius: 10px;
	border: solid #b23e4b 1px;
	padding: 16px;
	margin-left: 16px;
	
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	
	/*
		We use the position to prevent scroll bars from appearing when this block is not visible.
		The position is restored to static when the block is made visible (handled in our Angular code).
	 */
	position: absolute;
}

#right-block h3 {
 	text-align: center;
 	margin-top: 3px;
}

#right-block > .block-controls {
	float: right;
	margin: -4px 0 0 0;
	padding: 0;
}

#right-block > ul {
	margin-left: 50px;
	margin-top: 6px;
}

.single-details {
	margin: 0 0 18px 50px;
}

.single-details > ul {
	margin-left: 50px;
	margin-top: 2px;
}

#single-block p.avatar {
	float: left;
}

#left-block {
	float: left;
	width: 100%;
	-webkit-transition: width 0.6s; /* Safari */
    transition: width 0.6s;
}


/*
 * settings.html
 */

input.form-control {
	display: inline;
	width: 70%;
}

#rprefs-ok {
	color: green;
}


/*
 * Instances
 */
.instance-actions > img {
	max-width: 98%;
}

.instance-actions > p {
	margin-top: 18px;
}

.instance-actions > ul {
	margin: 6px 0 0 36px;
}

/*
 * Footer
 */

#footer {
	padding: 7px 0;
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*
 * Applications and Avatars
 */

 p.app-avatar {
	width: 160px;
	height: 160px;
	overflow: hidden;
	float: left;
}

p.app-avatar > img {
	width: 160px;
	height: 160px;
	border-radius: 10px;
}

.avatar-yellow {
	background-color: #ffeb0b;
}

.avatar-blue {
	background-color: #82bdff;
}

.avatar-green {
	background-color: #5be04d;
}

.avatar-orange {
	background-color: #ffc017;
}

.app-desc {
	/*
	 *	320 px = width( app-links ) + 20
	 *	190 px = width( app-avatar ) + 30
	 */
	padding: 17px 320px 10px 190px;
}

.app-desc ul {
	list-style-type: none;
	margin-left: 30px;
	margin-top: 4px;
}

div.app-links {
	width: 300px;
	float: right;
	padding: 18px 10px;
}

.text-orange {
	color: #fd9816;
}

div.app-links > ul {
	list-style-type: none;
}
